<h2 class="text-center">Mi Lista</h2>
<div class="container">
    
    <div class="row justify-content-center g-3 ">
    
        <div class="col-6">
            <% tareas.forEach(tarea=> { %>
    
                <div class="alert alert-secondary" role="alert">
                    <%= tarea.nombre_tarea %>
                
                    <div class="d-grid gap-1 d-flex justify-content-end">
                        <a href="/tareas/<%= tarea.id %>/edit" class="btn btn-warning" id="modificar">✏️</a>
                        <form action="/tareas/<%= tarea.id %>/delete?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger" id="eliminar">❌</button>
                        </form>
                    </div>
                    
                </div>

            <% }) %>
        </div>
    </div>
</div>