<div class="row justify-content-center">

    <div class="col-6">
        <h2 class="text-center">Nueva Tarea</h2>

        <% if (typeof errors !='undefined' ) { %>
            <ul class="list-unstyled text-center text-danger">
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>

                <% }) %>
            </ul>
        <% } %>


       

        <form action="" method="post">

        <div>
        <label for="tarea" class="form-label">Descripción</label>
        <input type="text" id="tarea" name="tarea" class="form-control" value="<%= values.tarea %>">
        </div>
        
        <button class="btn btn-primary mt-3" type="submit">Enviar</button>

        </form>

    </div>
</div>